<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
	 <defaultDocument>
     		 <files>
        		<add value="login.html" />
     		</files>
    	</defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
            <mimeMap fileExtension=".shtml" mimeType="text/html" />
        </staticContent>
        <handlers>
            <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
