{% include "./home/indexH.html" %}


{% include "./home/common/header.html" %}

<link rel="stylesheet" href="/public/css/personCenter/DataManagement.css" />

<div class="dm"> 
	<div class="dm_con">
		<div class="dm_con_t"><span class="dm_con_t_text bg_color15 skin_color">个人中心</span></div>
		<ul class="dm_con_menu">
			<li class="dm_con_m_i bg_color14 skin_color DataManagement">资料管理</li>
			<li class="dm_con_m_i  bg_color14 skin_color bankCardMan">银行卡管理</li>
			<!--<li class="dm_con_m_i  bg_color14 skin_color"><a href="myRecharge.html">我的充值</a></li>
			<li class="dm_con_m_i  bg_color14 skin_color"><a href="myPresent.html">我的提现</a></li>-->
			<li class="dm_con_m_i  bg_color14 skin_color gameRecord">游戏记录</li>
			<!--<li class="dm_con_m_i">
				<a href="myChaseRecord.html">追号记录</a>
			</li>-->
			<li class="dm_con_m_i  bg_color14 skin_color accoundChangeRecorde">账变记录</li>
			<li class="dm_con_m_i  bg_color14 skin_color reportQuery">个人报表</li>
			<li class="dm_con_m_i bg_color14 skin_color thisWebsiteTransfer">站内转账</li>
			<li class="dm_con_m_i bg_color14 skin_color infomation">站内信</li>
			<li class="dm_con_m_i bg_color14 skin_color websiteInfo">网站信息</li>           
		</ul>
		<!--<div class="dm_container">
			<div class="dm_second_menu">
				<span class="dm_s_m_i active">修改登录密码</span>
			</div>
			<ul class="mod_login_pwd mod_pwd">
				<li class="mod_login_pwd_i"><span>旧登录密码 :</span><input class="login_pwd" type="password"/></li>
				<li class="mod_login_pwd_i"><span>新登录密码 :</span><input class="new_login_pwd" type="password"/><span class="new_pwd_mod">(不能和资金密码一样)</span></li>
				<li class="mod_login_pwd_i"><span>确认新登录密码 :</span><input class="confirm_login_pwd" type="password"/><span class="new_pwd_com">(两次密码不一样，请重新输入)</span></li>
				<li class="mod_login_pwd_i"><span class="mod_login_pwd_btn">确定修改</span><span class="mod_succ">修改成功！</span></li>
			</ul>
			<div class="dm_second_menu">
				<span class="dm_s_m_i active">修改资金密码</span>
			</div>   
			<ul class="mod_fund_pwd mod_pwd">
				<li class="mod_login_pwd_i"><span>旧资金密码 :</span><input class="login_pwd" type="password"/></li>
				<li class="mod_login_pwd_i"><span>新资金密码 :</span><input class="new_login_pwd" type="password"/><span class="new_pwd_mod">(不能和登录密码一样)</span></li>
				<li class="mod_login_pwd_i"><span>确认新资金密码 :</span><input class="confirm_login_pwd" type="password"/><span class="new_pwd_com">(两次密码不一样，请重新输入)</span></li>
				<li class="mod_login_pwd_i"><span class="mod_fund_pwd_btn">确定修改</span><span class="mod_succ">修改成功!</span></li>
			</ul>
		</div>-->
		<div id="app_dom">
			
		</div>
	</div>
</div>

<!--<script type="text/javascript" src="/public/js/personCenter/DataManagment.js" ></script>-->   
<script type="text/javascript" src="/public/js/personCenter/main.js"></script>
{% include "./home/common/footer.html" %}


{% include "./home/indexF.html" %}
