{% include "./home/indexH.html" %}
<link rel="stylesheet" href="/public/css/lotteryGame/lotteryMissing.css" />
<div class="lm">
	<div class="lm_header">
		<ul class="lm_menu">
			<li class="lm_menu_item active" data-menu="重庆时时彩,新疆时时彩,天津时时彩">时时彩</li>
			<li class="lm_menu_item" data-menu="山东11选5,广东11选5,江西11选5,多乐11选5">11选5</li>
			<li class="lm_menu_item" data-menu="多乐秒秒彩,多乐一分彩,多乐三分彩,多乐五分彩,多乐十分彩">多乐彩</li>
			<li class="lm_menu_item" data-menu="福彩3D">福彩3D</li>
		</ul>
	</div>
	<div class="lm_con">
		<ul class="lm_con_menu">
			<li class="lm_con_item active">重庆时时彩</li>
			<li class="lm_con_item">新疆时时彩</li>
			<li class="lm_con_item">天津时时彩</li>
		</ul>
		<div class="lm_con_how"><span class="active">最近15期</span><span>最近30期</span><span>最近50期</span><span>最近100期</span></div>
		<table cellspacing="0" cellpadding="0" >
			<tr>
				<th rowspan="2">期号</th>
				<th rowspan="2">开奖号码</th>
				<th colspan="10">万位</th>
				<th colspan="10">千位</th>
				<th colspan="10">百位</th>
				<th colspan="10">十位</th>
				<th colspan="10">个位</th>
			</tr>
			<tr >
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
			</tr>
			<tr class="table_dsync_code">
				<td>20170401020</td>
				<td>55555</td>
				<td><span class="active">0</span></td>
				<td><span>1</span></td>
				<td><span>2</span></td>
				<td><span>3</span></td>
				<td><span>4</span></td>
				<td><span>5</span></td>
				<td><span>6</span></td>
				<td><span>7</span></td>
				<td><span>8</span></td>
				<td><span>9</span></td>
				<td><span class="active">0</span></td>
				<td><span>1</span></td>
				<td><span>2</span></td>
				<td><span>3</span></td>
				<td><span>4</span></td>
				<td><span>5</span></td>
				<td><span>6</span></td>
				<td><span>7</span></td>
				<td><span>8</span></td>
				<td><span>9</span></td>
				<td><span class="active">0</span></td>
				<td><span>1</span></td>
				<td><span>2</span></td>
				<td><span>3</span></td>
				<td><span>4</span></td>
				<td><span>5</span></td>
				<td><span>6</span></td>
				<td><span>7</span></td>
				<td><span>8</span></td>
				<td><span>9</span></td>
				<td><span class="active">0</span></td>
				<td><span>1</span></td>
				<td><span>2</span></td>
				<td><span>3</span></td>
				<td><span>4</span></td>
				<td><span>5</span></td>
				<td><span>6</span></td>
				<td><span>7</span></td>
				<td><span>8</span></td>
				<td><span>9</span></td>
				<td><span class="active">0</span></td>
				<td><span>1</span></td>
				<td><span>2</span></td>
				<td><span>3</span></td>
				<td><span>4</span></td>
				<td><span>5</span></td>
				<td><span>6</span></td>
				<td><span>7</span></td>
				<td><span>8</span></td>
				<td><span>9</span></td>
			</tr>
			<tr class="table_tr_sp">
				<th >出现次数</th>
				<th ></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
			</tr>
			<tr class="table_tr_sp">
				<th >最大遗漏</th>
				<th ></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
				<th colspan="10"></th>
			</tr>
			<tr class="table_tr_sp1">
				<th rowspan="2">期号</th>
				<th rowspan="2">开奖号码</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
				<th class="td_h">0</th>
				<th class="td_t">1</th>
				<th class="td_t">2</th>
				<th class="td_t">3</th>
				<th class="td_t">4</th>
				<th class="td_t">5</th>
				<th class="td_t">6</th>
				<th class="td_t">7</th>
				<th class="td_t">8</th>
				<th class="td_t">9</th>
			</tr>
			<tr>
				<th colspan="10">万位</th>
				<th colspan="10">千位</th>
				<th colspan="10">百位</th>
				<th colspan="10">十位</th>
				<th colspan="10">个位</th>
			</tr>
		</table>
		<canvas id="canvas" width="1560"></canvas>
	</div>
</div>
<script type="text/javascript" src="/public/js/lotteryGame/lotteryMissing.js" ></script>
{% include "./home/indexF.html" %}
