{% include "./home/indexH.html" %} {% include "./home/common/header.html" %}
<link rel="stylesheet" href="/public/css/promotions/promotions.css" />
<div class="pro_bg skin_color bg_color13">
	<div class="pro">
		<div class="pro_title"><span class="skin_color bg_color15">优惠活动</span></div>
		<ul class="pro_menu">
			<li class="pro_menu_item active skin_color bg_color14">热门活动</li>
			<li class="pro_menu_item skin_color bg_color14">彩票活动</li>
			<li class="pro_menu_item skin_color bg_color14">刮刮乐</li>
			<li class="pro_menu_item skin_color bg_color14">电子游艺</li>
			<li class="pro_menu_item skin_color bg_color14">往期回顾</li>
		</ul>
		<ul class="pro_ac_info">
			<li class="p_a_i">
				<div data-title="【注册送现金】 开户就送18元彩金">【注册送现金】</div>
				<img data-intro="玩家开户注册，且绑定，锁定银行卡，即可领取18元彩金，满488元流水，即可提现。|2017年6月1日 ———— 2017年6月7日|绑定银行卡后直接发放到您的账户！|1.同一个IP只可以申请一次该活动奖金，相同账户安全信息只能申请一次<br / >2.首次绑定银行卡，需满6小时或者消费满288元，方可提现。" src="/public/img/promotions/acti_3.jpg" />
			</li>
			<li class="p_a_i">
				<div data-title="【累计充值送现金】">【累计充值送现金】</div>
				<img data-intro="玩家累计充值，达到一定金额返现，其它请看注意事项。| 2017-6-1——2017-12-31|直接发放到您的账户| 达到一定销量，则可以提现。" data-table-title="累计充值,返现,需达到累计销量" data-table-data="1000,18,588|5000,28,2888|10000,58,5888|50000,88,28888|10000,188,58888|500000,388,288888|1000000,1838,588888" src="/public/img/promotions/acti_1.jpg" />
			</li>
			<li class="p_a_i">
				<div data-title="【多乐七日大闯关】">【多乐七日大闯关】</div>
				<img data-intro="下注彩票金额累计，达到一定金额返现，其他请看注意事项。|2017-6-1——2017-12-31|直接发放到你的账户|此活动仅限多乐彩销量，连续七天达到每天销量额，则可领取相应返现红包。" data-table-title=",累计销量,返现红包" data-table-data="第一天,10000,18|第二天,50000,88|第三天,100000,188|第四天,200000,2888|第五天,500000,588|第六天,1000000,1888|第七天,5000000,5888" src="/public/img/promotions/acti_2.jpg" />
			</li>
		</ul>
	</div>
</div>
<div class="popus_bg"></div>
<div class="activity_popus">
	<div class="title"><span>优惠活动</span><img class="activety_popus_close" src="/public/img/promotions/xx.png" /></div>
	<div class="intro">【注册送现金】 开户就送18元彩金</div>
	<ul class="a_p_info">
		<li class="a_p_i">
			<span class="a_p_i_key">【活动内容】</span>
			<span class="a_p_i_value">玩家开户注册，且绑定，锁定银行卡，即可领取18元彩金，满488元流水，即可提现。</span>
		</li>
		<li class="a_p_i">
			<span class="a_p_i_key">【活动时间】</span>
			<span class="a_p_i_value">2017年6月1日 ————2017年6月7日</span>
		</li>
		<li class="a_p_i">
			<span class="a_p_i_key">【领取方式】</span>
			<span class="a_p_i_value">绑定银行卡后直接发放到您的账户！</span>
		</li>
		<li class="a_p_i">
			<span class="a_p_i_key">【注意事项】</span>
			<span class="a_p_i_value">1.同一个IP只可以申请一次该活动奖金，相同账户安全信息只能申请一次<br / >2.首次绑定银行卡，需满6小时或者消费满288元，方可提现。</span>
		</li>
	</ul>
	<div class="table_f">
		<table>
			<tr>
				<th>累计充值</th>
				<th>返现</th>
				<th>需达到累计消费</th>
			</tr>
			<tr>
				<td>1000</td>
				<td>1000</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>1000</td>
				<td>1000</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>1000</td>
				<td>1000</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>1000</td>
				<td>1000</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>1000</td>
				<td>1000</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>1000</td>
				<td>1000</td>
				<td>1000</td>
			</tr>
			<tr>
				<td>1000</td>
				<td>1000</td>
				<td>1000</td>
			</tr>
		</table>
	</div>
	<div class="popus_footer">
		<span class="popus_footer_close">关闭</span>
	</div>
</div>
<script type="text/javascript" src="/public/js/promotions/promotions.js"></script>

{% include "./home/common/footer.html" %} {% include "./home/indexF.html" %}