*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	min-width: 1560px;
}
#canvas{
	position: absolute;
	top: 78px;
	left: 0;
	width: 100%;
	bottom: 0;
	z-index: 500;
	min-width: 1560px;
}
.lm{
	width: 100%;
}
.lm .lm_header{
	height: 60px;
	width: 100%;
	background: #000000;
}
.lm .lm_header .lm_menu{
	width: 1560px;
	margin: auto;
	padding-top: 20px;
}
.lm .lm_header .lm_menu .lm_menu_item{
	display: inline-block;
	width: 128px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: #307d73;
	font-size: 16px;
	cursor: pointer;
}
.lm .lm_header .lm_menu .lm_menu_item:hover,
.lm .lm_header .lm_menu .lm_menu_item.active{
	background: white;
	color: #307d73; 
}

.lm .lm_con{
	width: 1560px;
	margin: auto;
	margin-top: 20px;
	position: relative;
}
.lm .lm_con .lm_con_menu{
	border-bottom: 1px solid #307d73;	
}
.lm .lm_con .lm_con_menu .lm_con_item{
	display: inline-block;
	margin-left: 5px;
	width: 128px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	background: #307d73;
	border:1px solid #307d73;
	border-bottom: none;
	margin-bottom: -1px;
	font-size: 14px;
	color: #fff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	cursor: pointer;
}
.lm .lm_con .lm_con_menu .lm_con_item:first-child{
	margin-left: 0;
}.lm .lm_con .lm_con_menu .lm_con_item:hover,
.lm .lm_con .lm_con_menu .lm_con_item.active{
	background: white;
	color: #307d73;
}
.lm .lm_con .lm_con_how{
	width: 1533px;
	margin: auto;
	border: 1px solid #06b191;
	border-top: none;
	padding-top: 10px;
	padding-left: 25px;
	border-bottom: none;
}
.lm .lm_con .lm_con_how span{
	display: inline-block;
	font-size: 12px;
	color: #000;
	width: 86px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	margin-left: 15px;
	border:1px solid #fff;
}
.lm .lm_con .lm_con_how span:hover,
.lm .lm_con .lm_con_how span.active{
	background: #06b191;
	border:1px solid #2f7c74;
	margin-bottom: 2px;
	color: white;
	border-radius: 2px;
	
}
.lm .lm_con table{
	width: 1560px;
	margin: auto;
}
.lm .lm_con table tr th,
.lm .lm_con table tr td:nth-child(2),.lm .lm_con table tr td:nth-child(3),
.lm .lm_con table tr td:first-child{
	border-left: 1px solid #43c993;
}
.lm .lm_con table tr .td_t{
	border-left: none;
	background: #50ac87;
}
.lm .lm_con table tr .td_h{
	background: #50ac87;
	border-left: 1px solid #43c993 !important;
}

.lm .lm_con table tr:last-child th,
.lm .lm_con table tr:nth-child(2) th{
	border-top: 1px solid #43c993;
	height: 25px;
}
.lm .lm_con table tr th:last-child,
.lm .lm_con table tr td:last-child{
	border-right: 1px solid #43c993;
}
.lm .lm_con table tr.table_dsync_code td:nth-child(2){
	color: #00bd8d;
}
.lm .lm_con table tr:first-child th:nth-child(1){
	width: 90px;
}
.lm .lm_con table tr:first-child th:nth-child(2){
	width: 100px !important;
}
.lm .lm_con table tr th{
	background: #2e7e73;
	color: white;
	text-align: center;
	height: 25px;
	font-weight: 100;
}
.lm .lm_con table tr td{
	font-size: 12px;
	text-align: center;
	height: 25px;
	width: 25px;
}
.lm .lm_con table tr td span.active{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #50ac87;
	color: white;
	line-height: 20px;
}
.lm .lm_con table .table_tr_sp th{
	font-size: 14px;
	border-top: 1px solid #43c993;
}
.lm .lm_con table .table_tr_sp1 th{
	border-top: 1px solid #43c993;
}